.add-location-page{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.input-container-location-add{
    width: 100%;
    height: 280px;
    padding-top: 20px;
    margin-top: 35px;
    background-color: white;
    box-shadow: 0 4px 13px #dadada;
    border-radius: 25px;
}
.location-left-container{
    width: 40%;
}
.location-choose{
    width: 100%;
    height: 280px;
    padding-top: 20px;
    margin-top: 35px;
    background-color: white;
    box-shadow: 0 4px 13px #dadada;
    border-radius: 25px;
}
