.user-list-container{
    width: 100%;
    height: fit-content;
    /* border: 2px solid green; */
    margin-top: 50px;
    /* background-color: brown;  */
    display: flex;
    flex-direction: column;
}
.users-list-header-container{
    margin-bottom: 24px;
    color: rgba(225,235,245,.8);   
}
.users-list-header{
    font-size: 20px;
    font-weight: 300;
}

.users-list-table-container{
    width: 100%;
    height: fit-content;
    padding-bottom: 50px;
    /* margin-bottom: 50px; */
    background-color: #24344d;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 2px solid blue; */
}
.users-list-table{
    width: 95%;
    height: 100%;
    /* background-color: red; */
    display: flex;
    flex-direction: column;

}
.table-row{
    width: 100%;
    height: 45px;
    background-color: #24344d;
    border-bottom: 1px solid rgb(86 96 105 / 90%);

    /* height: ; */
}
.table-data-row:hover{
    background-color: #317498;
    /* height: ; */
}
.table-head{
    display: flex;
    align-items: center;
    height: 100%;
    font-size: 13px;
    color: #c1c6ca;
}
.light-row{
    background-color: #2f3c50a1;
}
.id-head, .id-row{
    margin-left: 5px;
    width: 150px;
}
.name-head, .name-row{
    width: calc(100% - 780px);
}
.deposit-head, .deposit-row{
    width: 130px;
}
.credit-head, .credit-row{
    width: 100px;
}
.status-head, .status-row{
    width: 100px;
}
.date-head, .date-row{
    width: 150px;
}

.sold-head, .sold-row{
    width: 150px;
}
.table-data-row{
    display: flex;
    align-items: center;
    height: 100%;
    font-size: 13px;
    color: #c1c6ca;
    cursor: pointer;
}
.text-input-search {
    width: 250px;
    height: 18px;
    background-color: #24344d;
    color: #dedddd;
    height: 13px;
    border-radius: 10px;
    border: 1px solid #526973;
    box-shadow: inset 1px 2px 8px rgb(0 0 0 / 7%);
    font-family: inherit;
    font-size: 1em;
    outline: none;
    padding: 0.6em 1.45em 0.7em;
    transition: .18s ease-out;
    padding-left: 37px;
}
.head-right{
    /* border: 1px solid red; */
    justify-content: flex-end;
}
.search-icon{
    margin-right: -29px;
    z-index: 1;
    font-size: 17px
}
.status-box{
    width: 50px;
    height: 10px;
    border-radius: 15px;
}
.active-status{
    background-color: #5f9c00;
}
.deactive-status{
    background-color: rgb(255 11 3);
}
.opened-data-row{
    height: 45px;
    /* background-color: red; */
}
.opened-row{
    height: 330px;
    /* background-color: red; */
}
.info-box{
    transition: height 0.5s;
    height: 260px;
    width: calc(100% - 11px);
    margin-left: 11px;
    background-color: #131c29;
    border-radius: 25px;
    display: flex;
    justify-content: space-around;
    /* flex-direction: column; */
    color: #c1c6ca;
    margin-top: 10px;
}
.hover-blue{
    background-color: #317498;
}
.info-box-row{
    height: 100%;
    width: 250px;
    flex-direction: column;
    /* background-color: rgb(166, 219, 97); */
    display: flex;
    /* border: 1px solid red; */
}
.info-box-col{
    display: flex;
    align-items: center;
    height: 50px;
    width: 215px;
    /* border: 1px solid greenyellow; */
    justify-content: space-between;
}
.info-box-col >h3{
    font-size: 16px;
}
.info-box-col >p {
    font-size: 13px;
    margin-top: 3px;
}
.more-button {
    align-self: flex-end;
    width: 75px;
    height: 34px;
    background-color: #52acd4;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 135px;
    font-size: 17px;
    text-decoration: none;
    color: inherit;
}
.paqymentsInfoButton {
    width: 100px;
    height: 34px;
    background-color: #5f9c00;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 5px;
    font-size: 17px;
    text-decoration: none;
    color: inherit;
}
.closed-info-box{
    height: 0px;
}
.more-button:hover {
    background-color: #408aaa;
}
.paqymentsInfoButton:hover {
    background-color: #3d6203;
}
